<h2>BTC <%=@rate %> €</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>TxID</th>
    <th>Quantity</th>
    <th>BoughtAt</th>
    <th>Profit</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

